/*! Header with Image */
.header {
  position: relative;
  text-align: center;
  color: white;
}

.responsive-image {
  width: 100%;
  height: auto;
}

.row {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* --------------------------------- */

/*! Description & address */
.description {
  margin-top: 40px;
}

.description p {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: left;
  gap: 30px;
}

.location {
  color: #bc4a8b;
  font-size: 25px;
  font-weight: bold;
}

ul li a {
  color: #bc4a8b;
  font-size: 30px;
}

.whatsapp {
  width: 60px;
  height: auto;
}

.whatsapp:hover {
  color: #075e54;
}

.instagram:hover {
  color: rgb(255, 0, 230);
}

.facebook:hover {
  color: #3b5998;
}

/* ----------------------------- */
/*! Facial row */
.facial-image {
  width: 546px;
  height: 546px;
}

.facial-description {
  display: grid;
  place-items: center;
}

/* ----------------------------- */
/*! Body Row */
.body-description {
  display: grid;
  place-items: center;
  text-align: right;
}

#body-img {
  width: 100%;
  height: auto;
}

/* ----------------------------- */
/*! Foot Row */
.foot-image {
  width: 546px;
  height: 546px;
}

.foot-description {
  display: grid;
  place-items: center;
}

/* ----------------------------- */
/*! Laser Row */
#laser-image {
  width: 546px;
  height: 546px;
}

.laser-description {
  display: grid;
  place-items: center;
  text-align: right;
}

/*! ----------------------------- */
/*! Body Page */
/* Title description */
.title {
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  text-align: center;
}

/* Images for all page */
.body-img {
  width: 350px;
  height: 400px;
}

.description {
  margin-top: 40px;
}

.title {
  font-size: large;
}

.description-left {
  text-align: left;
}

.description-right {
  text-align: right;
}
