/* Laser Page */
Table {
  text-align: center;
}

.pack-container {
  width: 380px;
  height: auto;
  text-align: left;
  border: 1px solid rgb(222, 219, 219);
  border-radius: 10px;
}

.pack-container p {
  font-weight: bold;
}

.price {
  float: right;
  margin-right: 20px;
}

.pack-men-header {
  color: rgb(74, 74, 255);
  font-weight: bold;
}

.pack-women-header {
  color: #bc4a8b;
  font-weight: bold;
}

.pack-body {
  text-align: left;
}
